.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/Awka247.jpg");
    border: 4px solid gold;
    border-radius: 20px;
    background-size: cover;
    height: 650px;
}
#main-title {
    background-color: red;
    border-radius: 6px;
    padding: 10px;
    font-family: 'Ultra', serif;
    color: aliceblue;
    font-size: 35px;
}
#subtitle {
    background-color: red;
    border-radius: 6px;
    padding: 10px;
    font-family: 'Ultra', serif;
    color: aliceblue;
    font-size: 15px;
}
.activity {
    text-align: center;
    color: red;
    text-shadow: 0 0 5px black;
    font-family: 'Ultra', serif;
}
#img-act {
    width: 300px;
    margin: 30px auto 20px;
    border-radius: 50%;
    border: 5px solid gold;
}
.activity-lists {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(#BEBAE3, #E2D4BA);
    font-family: 'Oswald', sans-serif;
}
.footer {
    background-color: #653239;
    display: flex;
    margin: 25px auto;
    height: 250px;
    width: 450px;
    border-radius: 10px;
    border-bottom: 8px solid #E2D4BA;
}
#img-guide {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
}
#guide-page {
    color: #BEBAE3;
    text-shadow: 0 0 3px black;
}